.carousel-control-custom {
   color:  rgb(0, 43, 128) !important;
  }

.carousel-control-prev-icon{
  background-color: green !important;

  }
.carousel-control-next-icon{
  background-color: green !important;
}
.carousel-caption{
  color: rgb(6, 255, 31) !important;
}

